@font-face {
  font-family: Signika;
  font-weight: 400;
  src: url("/rickandmortycharacters/assets/fonts/Signika/Signika-Regular.ttf");
}

@font-face {
  font-family: Signika;
  font-weight: 600;
  src: url("/rickandmortycharacters/assets/fonts/Signika/Signika-SemiBold.ttf");
}

@font-face {
  font-family: Signika;
  font-weight: 300;
  src: url("/rickandmortycharacters/assets/fonts/Signika/Signika-Light.ttf");
}

@font-face {
  font-family: Signika;
  font-weight: 700;
  src: url("/rickandmortycharacters/assets/fonts/Signika/Signika-Bold.ttf");
}
