{
  "extends": ["eslint:recommended", "next", "plugin:@next/next/recommended"],
  "plugins": ["prettier"],
  "root": true,
  "rules": {
    "react/react-in-jsx-scope": "off", // Not required for Next.js
    "no-console": "warn", // Example custom rule
  },
}
